# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Project specific
*.xlsx
*.log
instance/

# Relatórios e documentos gerados automaticamente
static/documents/*
!static/documents/.gitkeep
static/falha_consulta.txt
static/sucesso_inclusao.pdf
static/sucesso_associacao.pdf
static/falhas_associacao.json
static/sucesso_desligamento.pdf
static/falha_desligamento.json

# Arquivos de dados e relatórios
*.pdf
*.txt
*.csv
*.json

