<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Kairos CPRT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    {% set active_page = 'home' %}
    {% include 'navbar.html' %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card" style="display: flex; justify-content: center; align-items: center; min-height: 60vh; text-align: center;">
            <h2 style="color: var(--text-color); font-weight: normal; font-size: 2rem;">"Trabalhar bem é deixar uma marca que fala por nós."</h2>
        </div>
    </div>
    <footer class="footer">
        <div class="container footer-content">
            <img src="{{ url_for('static', filename='images/mixestec_logo.png') }}" alt="Mixestec Logo"
                class="footer-logo">
            <p>Desenvolvido por Thiago Silva Pereira</p>
        </div>
    </footer>
</body>

</html>